node_modules
.svelte-kit
build
npm-debug.log
.env
.env.*
coverage
*.md
.git
.gitignore
tests
tests-load
test-results
playwright-report
*.test.ts
*.spec.ts
docs
playwright.config.ts
vitest.config.js
vitest.setup.js
.vercel
