/* Tailwind CSS imports */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    @apply h-full overflow-hidden;
    font-family: 'Titillium Web', sans-serif;
}